* {
  margin: 0;
  padding: 0;
  font-weight: 250;
}

body {
	font-size: 18px;
	background: #fff0f5;
}

.wrapper {
	margin: 0 auto;
	padding: 0 22px;
	width: 100%;
	max-width: 1140px;
}

#note_title {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 18px;
	padding-bottom: 3px;
}

#note_details {
	padding-bottom: 15px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

label {
	width: 100%;
	display: block;
	margin-bottom: 18px;
}

input {
	font-size: 18px;
	display: block;
	width: 350px;
	margin-bottom: 18px;
	padding: 10px 8px;
}

textarea {
	font-size: 16px;
	display: block;
	margin-bottom: 15px;
	padding: 8px 6px;
}

#button {
	position: relative;
	cursor: pointer;
}

button {
	margin-top: 50px;
	padding: 10px 6px;
	position: relative;
	display: block;
	width: 120px;
	border-radius: 6px;
	margin-bottom: 18px;
	border: 0;
	background: #ff1493;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

#error {
	color: red;
	top: 15px;
	left: 160px;
	position: absolute;
}

select {
	display: block;
	margin-bottom: 15px;
	width: 175px;
	padding: 0;
	height: 24px;
}

ul {
	padding-left: 0;
}

h2 {
	font-weight: bold;
	font-style: italic;
}

#my_notes {
	visibility: visible;
	opacity: 1;
}

#notes li.pink {
	background: #ff69b4;
}

#notes li.blue {
	background: #d9f2ff;
}

#notes li.purple {
	background: #edb1f1;
}

#notes li.green {
	background: #c2f69b;
}

#my_notes.hide {
	visibility: hidden;
	opacity: 0;
}

#notes li {
	position: relative;
	list-style-type: none;
	display: block;
	float: left;
	width: 400px;
	height: 300px;
	padding: 10px 14px;
	border-radius: 4px;
	margin: 0 6px 14px;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	left: 0;
	padding: 5px 0;
}

.note_title {
	font-size: 27px;
	font-weight: bold;
	width: 100%;
	display: block;
}

.note_message {
	width: 100%;
	display: block;
}

.edit {
	font-style: italic;
	position: absolute;
	height: 26px;
	left: 14px;
	line-height: 26px;
	cursor: pointer;
}

.delete {
	font-style: italic;
	position: absolute;
	float: right;
	top: 6px;
	right: 6px;
	cursor: pointer;
}


